In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train_in = pd.read_csv('data/train_input.csv', sep=';')
train_out = pd.read_csv('data/train_output.csv', sep=';')
#test_in = pd.read_csv('data/test_input.csv', sep=';')

In [3]:
train_in.head()

,ID,DEVICE,EEG_0,EEG_1,EEG_2,EEG_3,EEG_4,EEG_5,EEG_6,EEG_7,...,EEG_74991,EEG_74992,EEG_74993,EEG_74994,EEG_74995,EEG_74996,EEG_74997,EEG_74998,EEG_74999,HYPNOGRAM
0,0,0.0,18.513157,17.887674,17.442404,16.944677,16.080168,15.002975,13.949936,13.029482,...,-10.850019,-11.230370,-11.445168,-11.626509,-11.631254,-11.295610,-10.671482,-9.810492,-9.003139,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ..."
1,1,0.0,3.377115,3.720635,4.122524,4.086743,3.476264,2.501397,1.601755,0.721100,...,-9.435968,-7.700051,-5.312872,-2.887947,-1.066923,0.143711,1.566658,3.194142,4.335758,"['0', '0', '0', '0', '0', '0', '2', '0', '0', ..."
2,2,0.0,20.753752,33.122223,41.263256,44.764065,45.441994,44.729267,42.983265,40.561638,...,2.661809,0.194748,-1.819428,-3.309473,-4.242142,-4.506508,-4.677623,-4.937207,-4.994258,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ..."
3,3,0.0,14.535362,14.571295,14.288245,13.808476,13.219709,12.498644,11.697461,10.954629,...,3.958761,3.678608,3.307606,3.170362,3.239853,3.253531,3.081603,2.759164,2.302796,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ..."
4,4,1.0,0.000006,0.000006,0.000006,0.000009,0.000008,0.000011,0.000009,0.000010,...,0.000036,0.000032,0.000027,0.000025,0.000022,0.000021,0.000019,0.000019,0.000022,"['0', '0', '0', '0', '0', '0', '0', '0', '0', ..."

In [4]:
train_id = train_in['ID']
# test_id = test_in['ID']
train_device = train_in['DEVICE']
# test_device = test_in['DEVICE']
train_hypno = train_in['HYPNOGRAM']
# test_hypno = test_in['HYPNOGRAM']

train_records = train_in.iloc[:,2:-1].transpose()
# test_records = test_in.iloc[:,2:-1].transpose()

Exploratory data analysis on train records

In [5]:
train_records.describe()

,0,1,2,3,4,5,6,7,8,9,...,571,572,573,574,575,576,577,578,579,580
count,75000.000000,75000.000000,75000.000000,75000.000000,7.500000e+04,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,...,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000,75000.000000
mean,0.001396,-0.000647,0.010420,-0.007526,-5.648294e-08,0.030010,-0.007884,-0.017715,-0.031207,-0.028034,...,-0.005785,-0.007462,0.041959,0.005790,0.129916,0.013924,-0.022282,-0.011219,-0.008861,0.162175
std,26.811528,11.881991,97.740946,17.135398,3.429267e-05,14.686044,14.160303,22.650047,14.843249,20.734457,...,13.548357,10.892392,13.219287,24.565145,46.222208,12.128443,13.146455,18.121433,25.312329,110.389812
min,-584.737732,-66.786278,-2119.885986,-190.482651,-1.853874e-04,-73.045670,-70.755417,-373.871277,-91.430809,-228.086319,...,-61.011181,-44.082382,-52.269302,-92.455818,-174.524368,-60.258286,-115.757523,-311.747955,-129.139267,-2892.114258
25%,-7.404769,-7.863815,-10.820185,-7.498345,-1.945274e-05,-8.687715,-9.322938,-8.073515,-7.592901,-10.994715,...,-8.780881,-7.338382,-8.660807,-15.166142,-22.242812,-7.498304,-7.452869,-7.119892,-15.766760,-6.974056
50%,0.581291,0.119838,-0.063237,0.449428,7.538832e-07,0.274879,0.009401,0.203786,0.600074,0.763060,...,-0.024483,-0.082415,-0.705542,0.965441,0.413926,0.377597,0.251785,0.173024,0.033963,0.124361
75%,7.785728,7.791786,11.155289,8.146739,2.020791e-05,9.325141,9.050028,8.848416,8.369638,11.935645,...,8.876539,7.253509,7.984434,16.338647,22.075676,7.964684,7.904012,7.539127,16.153967,6.794692
max,370.873413,58.905529,1944.065430,440.595032,1.237710e-04,63.762737,64.697296,395.936920,114.786797,191.613953,...,62.684914,45.022598,52.220604,78.558868,1389.816650,46.888836,71.272049,182.260498,120.926888,1121.835327

In [7]:
fulldf = pd.merge(train_in, train_out, on='ID')

In [6]:
train_out

      ID  TARGET
0      0      32
1      1      29
2      2      36
3      3      56
4      4      60
5      5      39
6      6      36
7      7      37
8      8      58
9      9      40
10    10      41
11    11      49
12    12      41
13    13      25
14    14      42
15    15      58
16    16      23
17    17      31
18    18      35
19    19      44
20    20      60
21    21      42
22    22      35
23    23      32
24    24      23
25    25      44
26    26      18
27    27      42
28    28      31
29    29      42
..   ...     ...
551  551      29
552  552      28
553  553      33
554  554      41
555  555      59
556  556      52
557  557      42
558  558      36
559  559      41
560  560      44
561  561      48
562  562      42
563  563      48
564  564      51
565  565      46
566  566      24
567  567      49
568  568      32
569  569      58
570  570      56
571  571      42
572  572      36
573  573      44
574  574      36
575  575      44
576  576      32
577  577      25
578  578      43
579  579      24
580  580      46

[581 rows x 2 columns]